@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .input{
        background-color: rgb(17 24 39);
        display: inline; 
border-radius: 0.5rem; 
border-width: 1px; 
border-style: dashed; 
border-color: white;
outline-width: 5px;
outline-color: rgb(79 70 229);
    }
    .scroll::-webkit-scrollbar {
        display: none;
    }
}

